.App {
  text-align: center;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(153,0,228);
background: linear-gradient(312deg, rgba(153,0,228,0.7231267507002801) 0%, rgba(92,71,214,0.7567401960784313) 52%, rgba(0,245,255,0.6811099439775911) 100%);
}
.App-footer{
  color: white
}

footer{
  position: relative;
  width: 100%;
  bottom: 0;
  background: linear-gradient(312deg, rgba(153,0,228,0.7231267507002801) 0%, rgba(92,71,214,0.7567401960784313) 52%, rgba(0,245,255,0.6811099439775911) 100%);
  min-height: 80px ;
  border-top: 1px solid white;
  font-size: 30px;
}
footer a {
  color: white;
}
footer a:hover{
  color: orange;
}

a.nav-link{
  color: black;
  background-color: orange;
  margin-left: 2px;
}
li{
  list-style-type: none;
}