html{background-color: #A2C4C9;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
 max-width: fit-content;
 max-height: fit-content;
 margin: 10px 20px;
 vertical-align: middle;
 display: flex;
 justify-content: flex-end;
}
.profile-img{
  border-radius: 100%;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 25px;
  width: 100%;
  align-self: center;
}
.container p{
 align-self: center;
}
.name{
  margin: 75px;
  float: left;
  display: grid;
}
.name p{
  font-size: 40px;
}
.name a{
  background-color: #A2C4C9;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border-style: solid;
  border-color: #595959;
  margin-top: 150px;
}
.info{
  float: right;
}

/* Images of projects */
img{
  width: 100%;
  height:auto;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
.portfolio{
  width: 45%;
  background-color: rgb(0, 174, 255);
  border: black 5px solid;
  margin: auto;
  margin-bottom: 20px;
  color: black;
}


div{
  background-color: #F3F3F3;
  color : #595959;
  font-size: 25px;
}

.nav{
  background-color: #A2C4C9;
  height:30%; ;
}

  .App {
    text-align: center;
  }
  
  header {
    height: 12px;
    max-height: 20%;
    justify-content: center;
    background: #A2C4C9;
    
    
  }
  
  footer{
    display: block;
    background-color: #A2C4C9;
    width: 100%;
    font-size: 30px;
  }

  a.nav-link{
    color: #595959;
    background-color: none;
    margin-left: 5px;
  
  }
  a.nav-link:hover{
    background-color: rgb(113, 175, 194);
    color: white;
  }
  li{
    list-style-type: none;
  }
  
.custom-class{
  margin: 5px;

}
.custom-class .social-svg-icon {
  fill: green;
  width: 50px;
}
.custom-class:hover .social-svg-icon {
  opacity: 20%;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1400px) {
  .portfolio{
    width: 95%;
  }
  .container{
    display: block;}
    
  .name a{margin: 0;}
}